<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="description" content="{{page.short_description}}">

        <meta property="og:title" content="{{page.title}} — Swann Galleries">
        <meta property="og:description" content="{{page.short_description}}">
        
        <meta property="og:url" content="/">
        <meta property="twitter:title" content="{{page.title}} — Swann Galleries">
        <meta property="twitter:description" content="{{page.short_description}}">
        
        
        {% if page.cover_image %}
        <meta property="twitter:image" content="{{ site.cloudinary_url }}/f_auto,q_70,w_512{{ page.cover_image.image }}">
        <meta property="og:image" content="{{ site.cloudinary_url }}/f_auto,q_70,w_512{{ page.cover_image.image }}">
        {% else %}
        <meta property="twitter:image" content="https://imprint.swanngalleries.com/assets/img/og-image.png">
        <meta property="og:image" content="https://imprint.swanngalleries.com/assets/img/og-image.png">
        {% endif %}
        
        <meta property="twitter:image:alt" content="{{page.title}} — Swann Galleries">
        <meta property="og:site_name" content="{{page.title}} — Swann Galleries">

        <title>{{page.title}} — Swann Galleries</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

        <link rel="stylesheet" href="/assets/css/main.css">
  
    </head>