{% if lot.header %}
    {% if lot.large_header.header_type == 'Large' %}
    <section class="header_text {{lot.large_header.header_type | slugify}}" style="background-color: {{lot.large_header.background_color}}; color: {{lot.large_header.text_color}}">
        <div class="header-inner">
            <span>{{lot.large_header.line_1_text}}</span>
            <br><span><i>{{lot.large_header.line_2_text}}</i></span>
        </div>
    </section>
    {% elsif lot.large_header.header_type == 'Large (Image)' %}
    <section class="header_text {{lot.large_header.header_type | slugify}}" style="background-image: url(/assets/img/{{lot.REFNO}}.jpg)">
        <div class="header-inner">
            <span>{{lot.large_header.line_1_text}}</span>
            <br><span><i>{{lot.large_header.line_2_text}}</i></span>
        </div>
    </section>
    {% endif %}
{% endif %}
{% if lot.large_img %}
    <section class="large_image" style="background-color: {{lot.full_width_image.background_color}};">
        <img
            sizes="100vw"
            srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_512{{ lot.full_width_image.image }} 512w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_768{{ lot.full_width_image.image }} 768w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_1024{{ lot.full_width_image.image }} 1024w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_1280{{ lot.full_width_image.image }} 1280w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ lot.full_width_image.image }} 1600w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_2000{{ lot.full_width_image.image }} 2000w"
            src="{{ site.cloudinary_url }}/f_auto,q_70,w_640/{{ lot.full_width_image.image }}"
            alt="" />
    </section>
{% endif %}
<section id="lot{{lotNum}}" class="lot lot-recommended">
    <div class="left">
        <div class="printFooter print-content">Lot {{lot.REFNO}}</div>
        {% if lot.images[0] %}
            <div class="slideshow"  style="background-color:{{bg}}">
                    <div class="slideshow-img-container">
                    <img
                        sizes="(min-width: 726px) 50vw, 100vw"
                        srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_512{{ lot.image }} 512w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_768{{ lot.image }} 768w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1024{{ lot.image }} 1024w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1280{{ lot.image }} 1280w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ lot.image }} 1600w"
                        src="{{ site.cloudinary_url }}/f_auto,q_70,w_640/{{ lot.image }}"
                        alt="" />
                    </div>
                    {% for image in lot.images %}
                    <div class="slideshow-img-container">
                        <img
                            sizes="(min-width: 726px) 50vw, 100vw"
                            data-img="{{ image }}"
                            srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_512{{ image }} 512w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_768{{ image }} 768w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1024{{ image }} 1024w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1280{{ image }} 1280w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ image }} 1600w"
                            src="{{ site.cloudinary_url }}/f_auto,q_70,w_640/{{ image }}"
                            alt="" />
                    </div>
                    {% endfor %}
            </div>
        {% else %}
            {% if lot.color_background %}{% assign bg = lot.color_background %}{%else%}{%assign bg ='black'%}{%endif%}
            {% if lot.image %}
                <!-- <img style="background-color:{{bg}}" src="/assets/img/{{lot.image}}"> -->
                <img style="background-color:{{bg}}"
                        sizes="(min-width: 726px) 50vw, 100vw"
                        data-img="{{ lot.image }}"
                        srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_512{{ lot.image }} 512w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_768{{ lot.image }} 768w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1024{{ lot.image }} 1024w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1280{{ lot.image }} 1280w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ lot.image }} 1600w"
                        src="{{ site.cloudinary_url }}/f_auto,q_70,w_512/{{ lot.image }}"
                        alt="" />
            {% else %}
            <img style="background-color:{{bg}}"
                        sizes="(min-width: 726px) 50vw, 100vw"
                        data-img="{{ lot.image }}"
                        srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_512/{{page.sale}}/{{ lot.REFNO }}.jpg 512w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_768/{{page.sale}}/{{ lot.REFNO }}.jpg 768w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1024/{{page.sale}}/{{ lot.REFNO }}.jpg 1024w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1280/{{page.sale}}/{{ lot.REFNO }}.jpg 1280w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1600/{{page.sale}}/{{ lot.REFNO }}.jpg 1600w"
                        src="{{ site.cloudinary_url }}/f_auto,q_70,w_512/{{page.sale}}/{{ lot.REFNO }}.jpg"
                        alt="" />
            {% endif %}
        {% endif %}
    </div>
    <div class="right">
        <div class="printFooter print-content">Lot {{lot.refno}}</div>
        <button class="bookmark-container">
            <span class="onhover"></span>
            <span class="fold-outline"> </span>
        </button>
        <div class="center-column">
            <div class="mobile-only mobile-thumb"><img src="{{ site.cloudinary_url }}/f_auto,q_70,w_60/{{ lot.image }}"></div>
            <button class="small-type notes-prompt">
                Add note...
            </button>
            <div class="notes-left">
                <textarea class="notes small-type" id="textarea"></textarea>
            </div>
            {% if lot.header_text %}
                {% if lot.header_text.type == 'small' %}
                    <div class="header-text-small">
                        <span class="lotNum">9</span>
                        <div class="circle"></div>
                        <span>{{lot.header_text.line_1}}</span>
                        <div class="circle"></div>
                        <span><i>{{lot.header_text.line_2}}</i></span>
                    </div>
                {% endif %}
            {% endif %}
            {% if lot.pullquote != '' %}
                <p class="pullquote">
                    {{lot.pullquote}}
                </p>
            {% endif %}
            <span class="lot-number">{{lotNum}}</span>
            <h2>
                {{lot.DESCRIPT}}
                <br><i>{{lot.CROSSHEAD}}</i>
            </h2>
            <div class='at-a-glance'>
                <div class="silhouette">
                    <!-- <div><img src="https://catalogue.swanngalleries.com/thumb//{{lot.REFNO | slice: -3, 3 }}/{{lot.REFNO}}tn.jpg"></div> -->
                    <div>
                        {% if lot.image %}
                        <img class="color-theif" src="{{ site.cloudinary_url }}/f_auto,q_70,w_60/{{ lot.image }}" crossorigin="anonymous">
                        {% else %}
                        <img class="color-theif" src="{{ site.cloudinary_url }}/f_auto,q_70,w_512/{{page.sale}}/{{ lot.REFNO }}.jpg" crossorigin="anonymous">
                        {% endif %}
                    </div>
                </div>
                <div>
                    {{lot.at-a-glance | markdownify }}
                </div>
            </div>
            {{lot.TYPESET | markdownify}}
            <div class="excerpt">{{lot.FOOTNOTE | markdownify}}</div>
            <div class="footnote">
                <p>{{lot.footnote_provenance}}</p>
            </div>
            <div class="estimate">
                <h5 class="small-type">Estimate</h5>
                <h2>${% include numberWithCommas.html number=lot.LOW %} – ${% include numberWithCommas.html number=lot.HIGH %}</h2>

                {% assign currentDate = "now" | date: '%s' %}
                {% assign auctionDate = page.datetime.date | date: '%s' %}
                {% if currentDate < auctionDate %}
                <button onclick="this.classList.toggle('active')">
                    Bid Options
                    <svg style="top:-0.5px;left:-4px" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.05063 0L4.05063 4.02135L0 4.02135L0 5.90747L4.05063 5.90747L4.05063 10L5.96745 10L5.96745 5.90747L10 5.90747L10 4.02135L5.96745 4.02135L5.96745 0L4.05063 0Z" fill="#008FFC"/></svg>
                </button>
                <div class="bid-options">
                    <a target="_blank" href="https://catalogue.swanngalleries.com/Bid/LeaveABid?saleno={{page.sale}}&amp;lotNo={{lotNum}}&amp;refno={{lot.REFNO}}">Absentee Bid</a>
                    <a target="_blank" href="http://www.swanngalleries.com/app-faq/">Live Bidding App</a>
                    <a target="_blank" href="http://www.swanngalleries.com/auctions/phone-bidding">Arrange a Phone Bid</a>
                </div>
                <a target="_blank" href="https://catalogue.swanngalleries.com/Bid/RequestConditionReport?saleno={{page.sale}}&lotNo={{lotNum}}&refNo={{lot.REFNO}}">Request Condition Report  
                    <svg style="top:1px" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke="#008FFC" stroke-width="1.8"/></svg>
                </a>
                {%endif%}
                <a href="#">Share Lot</a>
            </div>
            <div class="notes-right">
                <textarea class="notes small-type" id="textarea"></textarea>
            </div>
        </div>
    </div>
    <!-- <table class="print-content">
        <thead><tr><td>
            <div class="header-space">&nbsp;</div>
        </td></tr></thead>
        <tbody><tr><td>
            <div class="content">...</div>
        </td></tr></tbody>
        <tfoot><tr><td>
            <div class="footer-space">Lot {{lot.refno}}</div>
        </td></tr></tfoot>
    </table> -->
    <!-- <div class="header print-content">...</div> -->
    <!-- <div class="footer print-content">Lot {{lot.refno}}</div> -->
    
    <div class="printFooter print-content">Lot {{lot.REFNO}}</div>
</section>