
{% if lot.header %}
    {% if lot.large_header.header_type == 'Large' %}
    <section id="header-{{lotNum}}" class="header_text {{lot.large_header.header_type | slugify}}" style="background-color: {{lot.large_header.background_color}}; color: {{lot.large_header.text_color}}">
        <div class="header-inner">
            <span>{{lot.large_header.line_1_text}}</span>
            <br><span><i>{{lot.large_header.line_2_text}}</i></span>
        </div>
    </section>
    {% elsif lot.large_header.header_type == 'Large (Image)' %}
    <!-- <section class="header_text {{lot.large_header.header_type | slugify}}" style="background-image: url()"> -->
    <section id="header-{{lotNum}}" class="header_text {{lot.large_header.header_type | slugify}} lozad" data-background-image="{{ site.cloudinary_url }}/w_1040{{lot.large_header.background_image}}">
        <div class="header-inner">
            <span>{{lot.large_header.line_1_text}}</span>
            <br><span><i>{{lot.large_header.line_2_text}}</i></span>
        </div>
    </section>
    {% endif %}
{% endif %}
<!-- LARGE IMAGES -->
{% if lot.large_img %}
    {% if lot.full_width_image.background_color %}{% assign bgLg = lot.full_width_image.background_color %}{%else%}{%assign bgLg ='#212121'%}{%endif%}
    <section id="image-{{lotNum}}" class="large_image" style="background-color: {{bgLg}};">
        <img
            sizes="100vw"
            data-srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_250{{ lot.full_width_image.image }} 250w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_500{{ lot.full_width_image.image }} 500w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_800{{ lot.full_width_image.image }} 800w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_1200{{ lot.full_width_image.image }} 1200w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ lot.full_width_image.image }} 1600w,
                    {{ site.cloudinary_url }}/f_auto,q_70,w_2000{{ lot.full_width_image.image }} 2000w"
            data-src="{{ site.cloudinary_url }}/f_auto,q_70,w_500/{{ lot.full_width_image.image }}"
            src="{{ site.cloudinary_url }}/f_auto,q_50,w_40/{{ lot.full_width_image.image }}"
            alt=""
            class="lozad" />
    </section>
{% endif %}

<section id="lot{{lotNum}}" class="lot rec-{{lot.recommended}}">
    <div class="left {% if lot.images.first or lot.video_id %}js-slideshow has-slideshow{% endif %}">
        <div class="printFooter print-content">Lot {{lot.REFNO}}</div>
        
        {% if lot.images[0] %}
            <!-- <div class="slider-actions">
                <div class="next js-next"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 14V0L8 7L0 14Z" fill="#1893F8"/></svg></div>
                <div class="previous js-previous"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 14V0L8 7L0 14Z" fill="#1893F8"/></svg></div>
            </div> -->
            <div class="zoom-container"></div>
            <div class="slideshow"  data-scroll='0' style="background-color:{{bg}}">
                    <div class="slideshow-img-container">
                        <img
                            data-image="{{ lot.image }}"
                            sizes="auto"
                            data-srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_250{{ lot.image }} 250w,
                                    {{ site.cloudinary_url }}/f_auto,q_70,w_500{{ lot.image }} 500w,
                                    {{ site.cloudinary_url }}/f_auto,q_70,w_800{{ lot.image }} 800w,
                                    {{ site.cloudinary_url }}/f_auto,q_70,w_1200{{ lot.image }} 1200w,
                                    {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ lot.image }} 1600w"
                            data-src="{{ site.cloudinary_url }}/f_auto,q_70,w_500/{{ lot.image }}"
                            src="{{ site.cloudinary_url }}/f_auto,q_50,w_40/{{ lot.image }}"
                            alt=""
                            class="lozad" />
                    </div>

                    
                    {% if lot.video_id %}
                        <div class="slideshow-img-container"></div>
                            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{lot.video_id}}?title=0&byline=0&portrait=0&controls=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        </div>
                    {% endif %}


                    {% for image in lot.images %}
                    <div class="slideshow-img-container">
                        <img
                            sizes="auto"
                            data-image="{{ image }}"
                            data-srcset="{{ site.cloudinary_url }}/f_auto,q_70,w_250{{ image }} 250w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_500{{ image }} 500w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_800{{ image }} 800w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1200{{ image }} 1200w,
                                {{ site.cloudinary_url }}/f_auto,q_70,w_1600{{ image }} 1600w"
                            data-src="{{ site.cloudinary_url }}/f_auto,q_70,w_500/{{ image }}"
                            src="{{ site.cloudinary_url }}/f_auto,q_50,w_40/{{ image }}"
                            alt=""
                            class="lozad" />
                    </div>
                    {% endfor %}
            </div>
        {% elsif lot.video_id and lot.image %}
            <div class="zoom-container"></div>
            <div class="slideshow" data-scroll='0' style="background-color:{{bg}}">
                <div class="slideshow-img-container">
                    {% include lot_images.html %}
                </div>
                <div class="slideshow-img-container">
                    {% if lot.video_id %}
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{lot.video_id}}?title=0&byline=0&portrait=0&controls=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    {% endif %}
                </div>
                
            </div>
        {% else %}
            {% include lot_images.html %}

        {% endif %}
    </div>
    <div class="right">
        <div class="printFooter print-content">Lot {{lot.refno}}</div>
        <button class="bookmark-container"  aria-label="Toggle Bookmark for Lot">
            <span class="onhover"></span>
            <span class="fold-outline"> </span>
        </button>
        <div class="center-column">
            <div class="mobile-only mobile-thumb">
                <!-- <img src="{{ site.cloudinary_url }}/f_auto,q_70,w_60/{{ lot.image }}"> -->
            </div>
            <button class="small-type notes-prompt">
                Add note...
            </button>
            <div class="notes-left">
                <textarea class="notes small-type" id="textarea"></textarea>
            </div>
            {% if lot.header_text %}
                {% if lot.header_text.type == 'small' %}
                    <div class="header-text-small">
                        <span class="lotNum">{{lotNum}}</span>
                        <div class="circle"></div>
                        <span>{{lot.header_text.line_1}}</span>
                        <div class="circle"></div>
                        <span><i>{{lot.header_text.line_2}}</i></span>
                    </div>
                {% endif %}
            {% endif %}
            {% if lot.pullquote != '' %}
                <p class="pullquote">
                    {{lot.pullquote}}
                </p>
            {% endif %}
            <span class="lot-number">{{lotNum}}</span>
            <h2>
                {{lot.DESCRIPT}}
                <br><i>{{lot.CROSSHEAD}}</i>
            </h2>
            <div class='at-a-glance'>
                <div class="silhouette">
                    <!-- <div><img src="https://catalogue.swanngalleries.com/thumb//{{lot.REFNO | slice: -3, 3 }}/{{lot.REFNO}}tn.jpg"></div> -->
                    <div>
                        {% if lot.image %}
                        <img class="color-theif lozad" data-src="{{ site.cloudinary_url }}/f_auto,q_70,w_60/{{ lot.image }}" crossorigin="anonymous">
                        {% elsif lot.REFNO %}
                        <img class="color-theif lozad" data-src="{{ site.cloudinary_url }}/f_auto,q_70,w_60/{{page.sale}}/{{ lot.REFNO }}.jpg" crossorigin="anonymous">
                        {% endif %}
                    </div>
                </div>
                <div>
                    {{lot.at-a-glance | markdownify }}
                </div>
            </div>
            {{lot.TYPESET | markdownify}}
            <div class="excerpt">{{lot.FOOTNOTE | markdownify}}</div>
            <div class="footnote">
                <p>{{lot.footnote_provenance}}</p>
            </div>
            <div class="estimate">
                <h5 class="small-type">Estimate</h5>
                <h2>${% include numberWithCommas.html number=lot.LOW %} – ${% include numberWithCommas.html number=lot.HIGH %}</h2>

                {% assign currentDate = "now" | date: '%s' %}
                {% assign auctionDate = page.datetime.date | date: '%s' %}
                {% if currentDate < auctionDate %}
                <button onclick="this.classList.toggle('active')">
                    Bid Options
                    <svg style="top:-0.5px;left:-4px" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.05063 0L4.05063 4.02135L0 4.02135L0 5.90747L4.05063 5.90747L4.05063 10L5.96745 10L5.96745 5.90747L10 5.90747L10 4.02135L5.96745 4.02135L5.96745 0L4.05063 0Z" fill="#008FFC"/></svg>
                </button>
                <div class="bid-options">
                    <a target="_blank" href="https://catalogue.swanngalleries.com/Bid/LeaveABid?saleno={{page.sale}}&amp;lotNo={{lotNum}}&amp;refno={{lot.REFNO}}">Absentee Bid</a>
                    <a target="_blank" href="http://www.swanngalleries.com/app-faq/">Live Bidding App</a>
                    <a target="_blank" href="http://www.swanngalleries.com/auctions/phone-bidding">Arrange a Phone Bid</a>
                </div>
                <a target="_blank" href="https://catalogue.swanngalleries.com/Bid/RequestConditionReport?saleno={{page.sale}}&lotNo={{lotNum}}&refNo={{lot.REFNO}}">Request Condition Report  
                    <svg style="top:1px" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke="#008FFC" stroke-width="1.8"/></svg>
                </a>
                {%endif%}
                <button onclick="shareLot()">Share Lot</button>
            </div>
            <div class="notes-right">
                <textarea class="notes small-type" id="textarea"></textarea>
            </div>
        </div>
    </div>
    <!-- <table class="print-content">
        <thead><tr><td>
            <div class="header-space">&nbsp;</div>
        </td></tr></thead>
        <tbody><tr><td>
            <div class="content">...</div>
        </td></tr></tbody>
        <tfoot><tr><td>
            <div class="footer-space">Lot {{lot.refno}}</div>
        </td></tr></tfoot>
    </table> -->
    <!-- <div class="header print-content">...</div> -->
    <!-- <div class="footer print-content">Lot {{lot.refno}}</div> -->
    
    <div class="printFooter print-content">Lot {{lot.REFNO}}</div>
</section>