---
---

:root{
    --main-width: calc(100vw - var(--toolbar-height) - 1px);
    --main-height: calc(100vh - var(--toolbar-height) - 1px)
}

html{
    scroll-behavior: smooth;
}
body.loading{
    #cover{
        position:fixed;
        z-index:1000;
    }
    #cover > *{
        opacity:0;
    }
    #cover .spine, #cover .stripe{
        opacity:1;
    }
    #cover .stripe{
        width:var(--spineWidth);
        left: 50%;
        transform: translate(-50%);
        animation: loading 1s linear both;
    }
    
}

.thumbnail-lockup{
    left: -100vw;
}
.thumbnail-lockup.loaded{
    left:auto;
}

body.visible-false > *:not(.password-modal){
    display:none;
}
body.visible-false{
    overflow:hidden;
}
.password-modal{display:none}
body.visible-false .password-modal{
    position:fixed;
    display:block;
    top:0px;
    left:0px;
    background:black;
    width:100vw;
    height:100vh;
    z-index:10000;
    text-align:center;
    color:white;
    line-height:1.2;
    font-size:18px;
    button{
        border-radius:5px;
        padding:10px 24px 7px;
        background-color:var(--swann-blue);
    }
    input[type="text"]{
        padding:10px 10px 7px;
        margin-right:10px;
        border:0px;
        border-radius:5px;
        font-weight:400;
        font-size:14px;
        font-family:var(--sans-serif);
        margin-bottom:20px;
    }
    label{
        font-weight:400;
        font-size:14px;
    }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes loading{
    0%{width: var(--spineWidth)}
    100%{width:100vw}
}

body{
    background:#111111;
    font-family: var(--serif);
    cursor:url(../img/cursor.svg), auto;
}
mark{
    // background-color:#f7fab9;
    // padding: 0.2em 0em;
    background-color: transparent;
    padding: 0.25em 0em;
    background-color:rgba(255,255,0,0.6);
    cursor:url(../img/type-x-cursor.svg), auto;
    // border-bottom: 2.5px dotted #0d9aff;
}
section.lot .center-column p{
    cursor:url(../img/type-cursor.svg), auto;
}

::selection { 
    background-color:yellow;
}
textarea {
  resize: none;
}
.small-type{
    font-family:var(--sans-serif);
    font-weight:bold;
    font-size:15px;
}
#cursor{
    position:fixed;
    z-index:1000;
    width:18px;
    pointer-events:none;
    left:-100px;
    top:-100px;
}


section{position:relative;z-index:1}
#topbar{
    position:fixed;
    height:var(--toolbar-height);
    line-height:calc(var(--toolbar-height) + 2px);
    border-bottom:1px solid white;
    top:0px;
    left:0px;
    width:100vw;
    background:black;
    z-index:100;
    transform:translateY(calc(-100% - 2px));
    transition:transform 300ms;
    .catalogue-title{
        padding-left: calc(var(--toolbar-height) + 15px);
        font-size: 1.2rem;
        width: calc(100vw - 186px - var(--toolbar-height) - 30px);
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .topbar--dot{
        display:inline-block;
        margin:0px 10px;
        font-size:1.3rem;
    }
    .buttons{
        position:fixed;
        right:0px;
        top:0px;
        a, button {
            padding:0px 26px;
            border-left:1px solid white;
            height:100%;
            display:inline-block;
            line-height: var(--toolbar-height);
        }
    }
}
#topbar.visible{
    transform:translateY(0%);
}
#searchbar{
    width: 100vw;
    height: var(--toolbar-height);
    position: fixed;
    background: white;
    top: var(--toolbar-height);
    transform:translateY(-200%);
    transition:transform 300ms;
    z-index: 99;
    border: 0px;
    border-bottom: 1px solid grey;
    font-family:var(--sans-serif);
    font-weight:bold;
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--swann-blue);
}
#searchbar.visible, #searchbar.visible + .searchBtns{
    transform:translateY(0px);
}
#searchbar:focus{
    outline:none;
    border:none;
    border-bottom: 1px solid grey;
}
#searchbar::placeholder{
    font-family:var(--sans-serif);
    font-weight:bold;
    font-size:15px;
    color:lightgrey;
}
.searchBtns{
    height:calc(var(--toolbar-height) + 2px);
    top: var(--toolbar-height);
    position: fixed;
    right:0px;
    color:black;
    z-index: 99;
    font-family:var(--sans-serif);
    font-weight:bold;
    font-size:15px;
    transform:translateY(-200%);
    transition:transform 300ms;
}
.searchBtns button{
    border-left:1px solid black;
    padding:0px 20px;
    height: 100%;
}
.thumbnail-lockup{
    visibility:hidden;
    opacity:0;
    position:absolute;
    // left: -100vw;
    align-items:flex-start;
    align-content:flex-start;
    max-width:200px;
    pointer-events: none;
    // transition:opacity 300ms;
    display:flex;
    img{
        width:50px;
        height: auto;
        margin-right:10px;
    }
    p{
        margin:0px;
        background:rgba(0,0,0,0.5);
    }
}

.thumbnail-lockup.bottom{
    bottom:0px;
}
.thumbnail-lockup.right{
    transform: translateX(-100%);
    text-align: right;
    flex-direction: row-reverse;
    img{
        margin-right:0px;
        margin-left:10px;
    }
}
.sidebar{
    width: var(--toolbar-height);
    background-color:tomato;
    border-right:1px solid white;
    position:fixed;
    bottom:0px;
    left:0px;
    height:var(--main-height);
    text-align:center;
    display:flex;
    flex-direction:column;
    z-index:3;
    #hamburger, #infoBtn{
        padding-top:12px;
        display:inline-block;
    }
    #infoBtn{
        padding-bottom:9px;
    }
    #marker{
        display:inline-block;
        height:2px;
        width:100%;
        background:black;
        position:absolute;
        top:0%;
        left:0px;
        display:none;
    }
    .sidebar--lots{
        height: calc(100% - 40px);
        padding: 20px 0px;
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a{
            flex: 1;
        }
        li{
            width:100%;
            background:transparent;
            width: 100%;
            background: transparent;
            // height: 50px;
            // flex: 1;
            // display:flex;
            .thumbnail-lockup{
                max-width:calc(var(--toolbar-height) + 310px);
                text-align:left;
                transition:0s;
                pointer-events:none;
                img {
                    padding-left:calc(var(--toolbar-height) + 10px);
                }
                p{  
                    width: 300px;
                    padding-top:5px;
                    background:transparent;
                }
            }
            
        }
        @media screen and (min-width: 726px){
            a:hover li{
                border-top:1px solid white;
                .thumbnail-lockup, a{
                    visibility:visible;
                    opacity:1;
                    position: fixed;
                    z-index: 10;
                }
                &:after{
                    content:'';
                    background:black;
                    opacity:0.5;
                    display:block;
                    position:fixed;
                    width:var(--main-width);
                    height:var(--main-height);
                    top:var(--toolbar-height);
                    left:var(--toolbar-height);
                    pointer-events:none;
                }
            }
        }
        .sidebar-chapter-separation{
            border-top:1px solid white;
            position:relative;
        }
        .sidebar-chapter-separation > li{
            pointer-events:none;
            visibility:hidden;
            opacity:0;
            position:absolute;
            width:400px;
            text-align:left;
            left: calc(var(--toolbar-height) + 10px);
            top: -8px;
            p{margin:0px;}
            .chapter-title{font-size: 1.2rem;}
        }
        a.sidebar-chapter-separation:hover li{
            visibility: visible;
            opacity: 1;
            border-top:0px;
            p{
                z-index: 10;
                position: relative;
            }
        }
        a:hover li::after{
            content:'';
            background:black;
            opacity:0.5;
            display:block;
            position:fixed;
            width:var(--main-width);
            height:var(--main-height);
            top:var(--toolbar-height);
            left:var(--toolbar-height);
            pointer-events:none;
        }
        
        li.bookmarked{
            border-top:1px solid var(--swann-blue);
        }
        li.bookmarked.current, li.current{
            border-top:2px solid black;
        }
        
    }
    .sidebar--lots:hover .thumbnail-lockup{
        left:auto;
    }
}
.main-content{
    width:var(--main-width);
    margin-left:calc(var(--toolbar-height) + 1px);
    // margin-top:calc(var(--toolbar-height) + 1px);
    background:black;
}

#cover{
    // margin-top:calc(var(--toolbar-height) + 1px);
    --stripeHeight: 120px;
    --coverMargin: 40px;
    --spineWidth: 80px;
    height:100vh;
    width:100%;
    background:black;
    position:relative;
    border-bottom:1px solid white;
    z-index:3;
    > * {
        transition: opacity 300ms;
    }
    .logo{
        position: absolute;
        top:calc(var(--stripeHeight)/2);
        // left:calc(var(--coverMargin));
        left:calc(50% + var(--spineWidth)/2 + var(--coverMargin));
        transform: translateY(-50%);
        width:170px;
    }
    .left, .right{
        position:absolute;
        bottom:0px;
    }
    .right{
        right:0px;
        padding:40px;
        width:calc(50% - var(--spineWidth)/2 - var(--coverMargin)*2 - 1px);
        height:calc(100% - var(--stripeHeight)*2 - var(--coverMargin)*2);
    }
    .left{
        left:0px;
        width:calc(50% - var(--spineWidth)/2 - 1px);
        height:calc(100% - var(--stripeHeight)*2 - 2px);
    }
    .spine{
        width:var(--spineWidth);
        border-right:1px solid white;
        border-left:1px solid white;
        height: 100%;
        position:absolute;
        left:50%;
        transform:translate(-50%);
        top:0px;
        .spine-text{
            width:calc(100vh - 242px - 80px);
            height: 80px;
            line-height:80px;
            position:absolute;
            left:50%;
            bottom:calc((100vh - 242px - 80px)/2);
            display:flex;
            transform:translateX(-50%) rotate(90deg);
            .spine-title, .spine-date{
                font-weight:400; margin:0px;
                text-align:center;
                width:100%;
                overflow: visible;
                white-space: nowrap;
            }
            .spine-title{font-size: 1.6rem;flex:4;text-overflow: ellipsis;overflow:hidden}
            .spine-date{font-size: 1.2rem;flex:1;margin-right: 15px;}
        }
    }
    .left img{
        width:100%;
        height: 100%;
        // height:100vh;
        // position:absolute;
        // bottom:0px;
        object-fit: cover;
        object-position: top center;
    }
    .stripe{
        height:120px;
        width:100%;
        background:tomato;
        border-top:1px solid white;
        border-bottom:1px solid white;
        position:absolute;
        top:120px;
    }
    h1{
        font-family: 'JJannon Display', serif;
        font-size: 100px;
        line-height: 90px;
        font-weight:300;
        margin:10px 0px;
        max-width:750px;
        // overflow: hidden;
        text-overflow: ellipsis;
    }
    h1.smaller{
        font-size:70px;
        line-height:70px;
    }
    h2{
        font-weight:400;
        position:absolute;
        bottom:0px;
        margin: var(--coverMargin) 0px;
        line-height:1.2;
    }
}
.on-the-cover{
    font-weight:400;
    position:absolute;
    margin: var(--coverMargin) 0px;
    top:0px;
    // left:calc(50% + var(--spineWidth)/2 + var(--coverMargin));
    left:var(--coverMargin);
    color:#888888;
}
.phantom-toc{position:relative;height:150vh;width:calc(100vw - var(--toolbar-height) - 1px);}
#table-of-contents{
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    width:calc(100vw - var(--toolbar-height) - 1px);
    z-index:1;
    border-bottom:1px solid white;  
    #toc-dates{

    }
    #toc-dots{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height:calc(var(--main-height) - var(--toolbar-height)*2 - 4px - 20px);
        position:absolute;
        bottom: var(--toolbar-height);
        width: var(--main-width);
        padding: 10px 0px 10px 10px;
        a > p{margin:5px 0px;}
        a > p:before{
            content: '';
            width: calc(var(--toolbar-height) + 5px);
            height: 1.2px;
            background-color: white;
            z-index: 100;
            display: block;
            position: relative;
            top: 7px;
            left: calc(var(--toolbar-height)*-1 - 10px);
        }
        .chapter-title{
            font-size:1.2rem;
        }
        .small-type{
            margin-bottom:0px;
        }
        .small-type + .chapter-title {
            margin-top: 0px;
        }
        .small-type + .chapter-title:before {
            display:none;
        }
        .dot-container{
            position:relative;
            // IF YOU DONT WANT THE LINE-BY-LINE HOVER, COMMENT OUT THIS LINE:
            flex: 1; 
            .dot-container-inner{
                position:absolute;
                // width:200px;
                // width:100%;
            }
        }
        .dot-container:hover, .dot-container.hover {
            z-index:10;
            // border-top:1px solid white;
            .thumbnail-lockup{
                visibility:visible;
                opacity:1;
            }
            .dot-container-inner{
                width:200px;
            }
        }
        .dot-container:hover .line{
            content: '';
            width: 100vw;
            height: 1.2px;
            background-color: white;
            z-index: 100;
            display: block;
            position: absolute;
            top: 0px;
            left: calc(var(--toolbar-height)*-1 - 10px);
        }
    }
    .dot{
        background:white;
        width:8px;
        height:8px;
        border-radius:50%;
        border:0.05px solid grey;
        margin-bottom:4px;
    }
    .dot.square{border-radius:0;  transform: scale(0.9)}
    .dot.diamond{
        border-radius:0;
        transform: rotate(56deg) skew(20deg) scale(0.9);
    }
    .dates{
        display:flex;
        position:absolute;
        bottom:0px;
        width:calc(100% - 20px);
        // line-height: var(--toolbar-height);
        justify-content:space-between;
        padding: 10px;
        background:#1a1a1a;
        p{
            // flex:1;
            // width:100%;
            margin:0px;
            pointer-events:none;
        }
    }
}
.subnav{
    background:#1a1a1a;
    position:sticky;
    top:calc(var(--toolbar-height) + 1px);
    height:var(--toolbar-height);
    border-bottom:1px solid grey;
    width:100%;
    color: white;
    z-index:10;
    ul{
        display:flex;
        line-height:var(--toolbar-height);
        li{
            margin:0px 15px;
        }
        svg{
            margin-right:6px;
            position:relative;
        }
    }
    button:hover,button:focus{
        color:var(--swann-blue);
        svg path, svg rect, svg circle{
            fill:var(--swann-blue)
        }
    }
}
section{position:relative;}
#info{
    padding-top:var(--toolbar-height);
    background:white;
    color:black;
    font-family:var(--sans-serif);
    min-height:var(--main-height);
    a{color:black;}
    a:hover{color:var(--swann-blue)}
    .logo{height: 40px;}
    h2,h3{
        color: var(--swann-blue);
        font-family: var(--sans-serif);
        font-weight: 500;
        border-bottom: 1px solid var(--swann-blue);
        margin-top:70px;
        letter-spacing: -0.01em;
    }
    h2{
        font-size: 26px;
        line-height: 28px;
        padding: 9px 0px;
    }
    h3{margin-top: 81px;padding:9px 0px 3px}
    .people {
        display:flex;
        flex-wrap:wrap;
        > div {
            margin-bottom:40px;
            width: calc(33% - 10px);
            margin-right: 10px;
        }
        img{
            width:100px;
            height:110px;
            object-fit:cover;
            object-position: top center;
        }
        h4{
            font-weight:400;
            font-size:1.05rem;
            margin:0px;
            letter-spacing: -0.01em;
            margin: 7px 0px;
        }
        small{ 
            font-size: 0.8rem;
            letter-spacing: -0.01em; 
            line-height:1.1; 
            display:inline-block;
            overflow-wrap: break-word;
            word-break: break-all;
        }
    }
}
.leftright:first-child{
    .left,.right{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom:0px;
    }
}
.leftright:first-child + .leftright{
    .left,.right{padding-top:0px;}
}
.leftright{
    width:100%;
    display:flex;
    > div{
        flex:1;
        padding:40px;
    }
}
.callout, #cookieBanner{
    z-index:100;
    background: #efefef;
    padding:15px;
    border-radius:7px;
    position:fixed;
    font-family: var(--sans-serif);
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
}
#cookieBanner{
    bottom:20px;
    font-size:12px;
    color:black;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    transition: bottom 300ms;
    button{
        padding-left:10px;
        text-decoration:underline;
    }
    a{
        color:black;
        text-decoration:underline;
        margin-right:20px;
        display:inline-block;
    }
}
.callout{
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: var(--swann-blue);
    width:140px;
    top: calc(var(--toolbar-height) - 2px);
    left: -400px;
    transition: left 300ms;
    p{margin:0px; margin-bottom:10px;}
    button{
        text-transform:uppercase;
        font-size: 10px;
        font-weight:600;
        line-height: 17px;
        letter-spacing: -0.01em;
        color:var(--swann-blue);
    }
}
.callout.visible{
    left: calc(var(--toolbar-height) + 10px);
}
.callout.visible.got-it{
    left: -400px;
}

.callout:before{
    content: '';
    background-image: url('../img/callout-arrow.svg');
    position:absolute;
    left:-16px;
    width:16px;
    height:16px;
    background-size:contain;
}
.chapter-head{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    // background:#0f0f0f;
    // height:600px;
    border-bottom:1px;
    text-align:center;
    position: relative;
    z-index: 2;
    background: #2F2F2F;
    height: var(--main-height);
    user-select: none;
    h1{
        font-size:50px;
        font-weight:300;
        letter-spacing: -0.01em;
        padding:20px 0px;
        font-family: 'Jjannon Display', serif;
        text-align:center;
        display:inline-block;
        border-top:1px solid white;
        border-bottom:1px solid white;
        width:auto;
    }
    h3{
        font-size: 17px;
    }
}
.lots{
    background:black;
    position:relative;
    z-index:2;
}
.lot{
    display:flex;
    min-height:var(--main-height);
    width:var(--main-width);
    color:black;
    // background: black;
    > * {flex: 1}
    .left{
        // background:black;
        width:50%;
        position:sticky;
        top:var(--toolbar-height);
        height:var(--main-height);
        cursor: url(../img/zoom-cursor.svg), auto;

        // width: calc(var(--main-width)/2);
        // position:fixed;
        img{
            width:100%;
            height:100%;
            object-fit: contain;
            object-position:center;
            position: fixed;
            // top: var(--toolbar-height);
            bottom: -1000vh;
            right: -1000vw;
            height: var(--main-height);
            width: calc(var(--main-width)/2);
            opacity:0;
            // transition:opacity 200ms;
            // filter:blur(10px);
            user-select:none;
            pointer-events:none;
            z-index:0;
        }
        .slideshow {
            // display: flex;
            // flex-direction: column;
            // overflow: scroll;
            height: calc(var(--main-width)/2);
            top: calc(var(--toolbar-height) + 1px);
            left: var(--toolbar-height);
            width: var(--main-height);
            position:fixed;
            pointer-events:none;
            opacity:0;
            transition:opacity 200ms;
            overflow-y: auto;
            overflow-x: hidden;

            // width:100%;
            // height:100%;

            // transform: rotate(-90deg);
            transform-origin: right top;
            // transform:rotate(-90deg) translateY(-100px);
            transform: rotate(-90deg) translateY(calc(var(--main-height)* -1));

            .slideshow-img-container{
                    width: var(--main-height);
                    height: calc(var(--main-width)/2 - 60px);
                    transform-origin: right top;
                    object-fit: none;
                    margin: auto;
                    margin-bottom: 30px;
                    display: block;
                    position:relative;
                img{
                    object-fit:none;
                    position:static;
                    height:inherit;
                    width:inherit;
                    transform:rotate(90deg);
                    width:calc(var(--main-width)/2 - 60px);
                    height:var(--main-height);
                    object-fit: contain;
                    position:absolute;
                    top:0%;
                    left:100%;
                    transform-origin: left top;
                }
            }

            // img{
            //     position: static;
            //     width: calc(100% - 60px);
            //     margin-right: 30px;
            //     width: calc(var(--main-width)/2) !important;
            //     height: var(--main-height) !important;
            //     // min-width: calc(var(--main-width)/2 - 80px);
            //     min-width:0px;
            //     transform: rotate(90deg);
            //     // transform: rotate(90deg) translateX(-110px) translateY(-110px);
            //     transform-origin: right top;
            //     transform: rotate(90deg);
            //     object-fit:contain;
            //     // display:inline-block;
            //     background:red;
            //     transform-origin: right top;
            //     height: calc(var(--main-width)/2) !important;
            // }
        }
        
    }
    .left.zoom  {
        cursor: url(../img/zoom-out-cursor.svg), auto;
        .slideshow{
            transform:none;
            height:var(--main-height);
            width:calc(var(--main-width)/2);
        }
        img, .slideshow .slideshow-img-container img{
            object-fit:none;
            height: var(--main-height);
            width: calc(var(--main-width)/2);
            // object-fit:contain;
            // height: calc(var(--main-height)*1.5);
            // width: calc(var(--main-width)/2*1.5);
            // transform: scale(2);
            // height:auto;

            // min-height:150vh;
            // min-width:100vw;
            // height:auto;
            // width:auto;
            // object-position: 50% 50%;
            // object-fit:fill;
            // position:fixed;
        }
    }
    .left.active img, .left.active .slideshow{
        opacity:1;
        filter:blur(0px);
        z-index:1;
        top: var(--toolbar-height);
        left: calc(var(--toolbar-height) + 1px);
    }
    .left.active .slideshow{
        pointer-events:auto;
    }
    
    .right{
        background:#f1f1f1;
        width:50%;
        position: relative;
        border-top: 2px solid white;


        // max-width: calc(var(--main-width)/2);
        // left: calc(var(--main-width)/2);
    }
    .center-column{
        max-width:470px;
        margin:auto;
        // margin-top:300px;
        margin-top: 150px;
        margin-bottom:150px;
        position:relative;
        padding: 0px 15px;
    }
    h2, .lot-number{
        font-weight:400;
        font-size: 1.8rem;
        line-height: 1.2;
        letter-spacing: -0.01em;
        font-family:'Jjannon Display', serif;
    }
    .lot-number:after{
        content: url(../img/icon-circle.svg);
        display:inline-block;
        margin-left:20px;
        position:relative;
        top:-5px;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.55;
        letter-spacing: -0.01em;
        a{
            // border-bottom:2px dotted var(--swann-blue);
            color:black;
            border-bottom:2px solid var(--swann-blue);
            // text-decoration:underline;
        }
        a:hover{
            color:var(--swann-blue);
        }
    }
    p.pullquote{
        font-size: 42px;
        line-height: 46px;
        letter-spacing: -0.01em;
    }
    .at-a-glance {
        display:flex;
        padding:15px 0px 10px;
        .silhouette {
            width:60px;
            margin-right:15px;
            div{
                background:#d4d4d4;
            }
            img{
                width:100%;
                opacity:0;
                display: block;
            }
        }
        p:first-child{
            margin-top:0px;
        }
    }
    .at-a-glance p, .footnote p{
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        max-width:300px;
    }
    .excerpt p{
        font-style:italic;
    }
    .footnote p{
        max-width:375px;
    }
    .estimate{
        padding-top:35px;
        h5, a, .a{
            color:#949494; 
            margin-bottom:0px;
            font-size:1rem;
            font-weight:500;
            font-family:var(--sans-serif);
        }
        h2{
            margin:10px 0px 40px;
        }
        a, button{
            font-family:var(--sans-serif);
            font-weight:500;
            color:var(--swann-blue);
            margin-bottom:10px;
            display:block;
            cursor:pointer;
            svg{
                margin-left:7px;
                transition: margin-left 300ms;
                position:relative;
            }
        }
        a:hover, button:hover{
            text-decoration:underline;
            svg{
                margin-left:10px;
            }
        } 
        .bid-options{
            padding-left:25px;
            padding-top:10px;
            display:none;
        }
        button.active{margin-bottom:0px;}
        button.active + .bid-options{
            display:block;
        }
    }
    .notes-left, .notes-right{
        position: absolute;
        top: 0px;
        left: calc(50% - 250px);
        padding: 12px;
        width: calc((var(--main-width)/2 - 500px)/2 - 24px);
        height: calc(100% - 24px);
        max-width: 160px;
        transform:translateX(-100%);
        display:block;
        textarea{
            width: 100%;
            border: 0px;
            background: transparent;
            color:#005AE1;
            font-weight:400;
            border-radius:0px;
            padding:0px;
            position:absolute;
            width: calc(100% - 24px);
        }
        textarea:focus{
            outline:none;
        }
    }
    .notes-right{
        left: calc(50% + 250px);
        transform: translateX(0px);
    }
    .bookmark-container{
        position:sticky;
        top:var(--toolbar-height);
        background:transparent;
        overflow:hidden;
        height:80px;
        width:100%;
        display:block;
        z-index: 2;
        .fold-outline{
            border: 2px dashed #B2B2B2;
            transform:rotate(45deg) translateY(-57px) ;
            height:75px;
            width:75px;
            position:absolute;
            right:0px;
            top: 0px;
            transition:background 300ms;
            background:#efefef;
        }
        .onhover{
            height:52px;
            width:52px;
            position:absolute;
            right:0px;
            top: 0px;
            background:#dedede;
            border: 1px solid #B2B2B2;
            transform:translateX(100%) translateY(-100%);
            transition: transform 300ms;
        }
    }
    .bookmark-container:hover,.bookmark-container.active {
        .fold-outline{
            border-style: solid;
        }
        .onhover{
            transform:translateX(0%) translateY(0%);
        }
    }
    .bookmark-container.active .fold-outline{
        background:var(--swann-blue);
        border-color: var(--swann-blue);
    }
}
.lot.lot-loaded + .lot .left img, .left .slideshow{
    top: var(--toolbar-height);
    left: calc(var(--toolbar-height) + 1px);
}
section.header_text.large, section.header_text.large-image {
    width:var(--main-width);
    min-height:500px;
    height: 80vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-size:120px;
    text-align:center;
    font-family:'Jjannon Display';
    z-index:2;
}
section.header_text.large-image {
    font-size:40px;
    text-align:center;
    font-family:'Jjannon Display';
    color:white;
    background-position:center;
    background-size:120%;
}
section.header_text.large-image .header-inner:before {
    content: '';
    display: block;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    opacity: 0.2;
}
.header-text-small{
    text-align:center;
    padding:50px 0px 200px;
    max-width:320px;
    margin: auto;
    font-family:'Jjannon Display';
        font-size:50px;
    .lotNum{
        font-family:var(--sans-serif);
        font-weight:bold;
        font-size:40px;
    }
    .circle{
        width:8px;
        height:8px;
        border-radius:50%;
        background:black;
        margin:40px auto;
    }
}
section.large_image{
    height:calc(var(--main-height) - 60px);
    width:calc(var(--main-width) - 60px);
    z-index:2;
    padding:30px;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.notes-prompt{
    position:fixed;
    // left:-300px;
    // top:-300px;
    z-index:1;
    padding: 0px 12px;
    color: #b2b2b2;
    font-weight:500;
    transition: left 300ms;
    // width: calc((var(--main-width)/2 - 500px)/2 - 24px);
    width: calc((var(--main-width)/2 - 500px)/2);
    max-width: 184px;
    text-align:left;
    display:none;
}
.notes-prompt.np-left{
    transform:translateX(-100%);
    left: calc(var(--toolbar-height) + var(--main-width)*3/4 - 250px);
    display:block;
}
.notes-prompt.np-right{
    left: calc(100vw - (var(--main-width)/2 - 500px)/2);
    display:block;
}
// #left-image{
//     background:red;
//     position:fixed;
//     width:calc(var(--main-width)/2);
//     height:var(--main-height);
//     top:var(--toolbar-height);
//     z-index:10;
//     img{
//         width:100%;
//         height:100%;
//         object-fit:contain;
//         object-position:center;
//     }
// }


.lot.lot-recommended {
    .lot-number:after{
        content: url(../img/icon-diamon.svg);
        top: -3px;
    }    
}
.lot.lot-bookmarked {
    .lot-number:after{
        content: url(../img/icon-square.svg);
        top: -6px;
    } 
    .bookmark-container {
        .fold-outline{
            border-style: solid;
        }
        .onhover{
            transform:translateX(0%) translateY(0%);
        }
    }
    .bookmark-container .fold-outline{
        background:var(--swann-blue);
        border-color: var(--swann-blue);
    }   
}
.essay{
    background:white;
    color:#242424;
    padding:100px 15px;
    z-index: 2;
    padding:340px 0px;
    .inner p, .inner h1, .inner h5{
        max-width:840px;
        margin: auto;
        padding:0px 15px;
    }
    img{
        padding: 70px 0px;
        width:940px;
        // margin: auto;
        width: calc(100% + 120px);
        margin-left: -60px;
    }
    .title-text{
        padding-bottom: 80px;
    }
    .title-text + p > img {
        padding-top: 0px;
    }
    h1{
        font-size: 50px;
        line-height: 55px;
        letter-spacing: -0.01em;
        font-family: 'Jjannon Display';
        font-weight:normal;
        margin:0px;
    }
    .inner h5{
        font-size:18px;
        font-weight:normal;
        margin-top:15px;
    }
    .inner p{
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.01em;
        margin-bottom:20px;
    }
}

#end-content{
    background:white;
    color:#242424;
    padding:100px 15px;
    .inner{
        width:100%;
        max-width:1400px;
        margin: auto;
        // column-count: 2;
        // column-gap: 56px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-page{
        width:calc(50% - 60px);
        margin: 30px;
    }
    .footer-page:last-child:nth-child(odd){
        column-count: 2;
        column-gap: 56px;
        width:100%;
    }
    .title-container{
        width:100%;
        text-align:center;
        padding:15px 0px;
    }
    h2{
        padding:8px 0px 6px;
        border-top: 1px solid black;
        border-bottom:1px solid black;
        text-transform:uppercase;
        font-size:14px;
        font-weight:normal;
        display:inline-block;
    }
    p{
        font-size:14px;
        line-height:1.3;
        margin-top: 0px;
    }
    .columns{
        column-count:2;
        column-gap: 26px;
        text-align:justify;
        padding-bottom:50px;
    }

}

#printModal.visible{display:block;}
#printModal{
    width:var(--main-width);
    height:var(--main-height);
    background:rgba(15,15,15,0.8);
    position:fixed;
    bottom:0px;
    right:0px;
    z-index:99;
    display:none;
    .inner{
        // height:calc(100% - 200px);
        // height:calc(500px - 200px);
        max-width:600px;
        padding:50px 80px;
        background:black;
        color:white;
        margin:auto;
        border-radius:0px 0px 16px 16px;
        h2{
            font-weight:normal;
            font-size:30px;
            line-height:37px;
            margin-bottom:50px;
        }
        span{
            font-family: var(--sans-serif);
            font-weight: 500;
            font-size: 14px;
            display:inline-block;
            margin-left:10px;
        }
        button{
            border-radius:5px;
            padding:10px 24px 7px;
            margin-right:10px;
            margin-bottom:35px;
        }
        button#printBtn{background-color:var(--swann-blue);}
        button#cancelBtn{background-color:#2F2F2F}
    }

    .control-group{
        margin-bottom:50px;
    }
    .control {
        display: block;
        position: relative;
        // padding-left: 30px;
        margin-bottom: 10px;
        // padding-top: 6px;
        cursor: pointer;
        font-size: 1.2rem;
        line-height: 37px;
    }
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control_indicator {
        position: absolute;
        top: 12px;
        left: -32px;
        height: 10px;
        width: 10px;
        background: black;
        // border: 0px solid #000000;
        border-radius: undefinedpx;
    }
    .control:hover input ~ .control_indicator,
    .control input:focus ~ .control_indicator {
        background: var(--swann-blue);
    }

    .control input:checked ~ .control_indicator {
        background: #0099ff;
    }
    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background: var(--swann-blue);
    }
    // .control input:disabled ~ .control_indicator {
    //     background: #e6e6e6;
    //     opacity: 0.6;
    //     pointer-events: none;
    // }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-radio .control_indicator {
        border-radius: 50%;
    }

    .control-radio .control_indicator:after {
        left: 0px;
        top: 0px;
        height: 0px;
        width: 0px;
        border-radius: 50%;
        background: var(--swann-blue);
        transition: background 250ms;
    }
    .control-radio input:disabled ~ .control_indicator:after {
        background: #7b7b7b;
    }.control-radio .control_indicator::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 4.5rem;
        height: 4.5rem;
        margin-left: -1.3rem;
        margin-top: -1.3rem;
        background: var(--swann-blue);
        border-radius: 3rem;
        opacity: 0.6;
        z-index: 99999;
        transform: scale(0);
    }
    .control-radio input + .control_indicator::before {
        animation: s-ripple 250ms ease-out;
    }
    .control-radio input:checked + .control_indicator::before {
        animation-name: s-ripple-dup;
    }

}


.mobile-only{display:none;}


@media screen and (max-width: 726px){
    .mobile-only{
        display:inline;
    }
    .leftright{
        display:block;
    }
    #cookieBanner{
        display: block;
        button{
            padding:0px;
            padding-right:10px;
            margin-top:10px;
        }
    }
    #topbar {
        transform: translateY(0%);
        .catalogue-title{
            display:none;
        }
        .buttons{
            margin-left: var(--toolbar-height);
            display: flex;
            width:calc(100vw - var(--toolbar-height));
            a, button{
                font-size: 14px;
                text-align: center;
                padding: 0px;
                padding: 0px 18px;
                white-space: nowrap;
                flex: 1;
                line-height: var(--toolbar-height);
            }
            a, button{
                white-space: nowrap;
            }
        }
    }
    #hamburger svg, #infoBtn svg{
        width: 28px;
        height: 28px;
    }
    .sidebar #hamburger, .sidebar #infoBtn{
        padding-top:6px;
    }
    .leftright {
        flex-wrap: wrap;
    }
    #cover{
        width:calc(100vw - var(--toolbar-height));
        left:var(--toolbar-height);
        h1{
            font-family: 'JJannon', serif;
            font-size: 20px;
            line-height: 20px;
            order:2;
            margin: 15px 0px;
        }
        h2{
            position:static;
            font-size: 15px;
            line-height: 18px;
            order:1;
            margin: 0px;
        }
        h3{
            font-family: var(--sans-serif);
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            order:3;
            margin:0;
        }
        .spine, .stripe{
            display:none;
        }
        .left, .right{
            width:calc(100vw - var(--toolbar-height));
            left: auto;
            right:0px;
        }
        .right{
            height: calc(var(--stripeHeight)*2 - var(--toolbar-height) - 40px + 2px);
            top: var(--toolbar-height);
            padding: 20px;
            width:calc(100vw - var(--toolbar-height) - 40px);
            display: flex;
            flex-direction: column;
        }
        .on-the-cover{
            display:none;
        }
        .logo{
            left:auto;
            right:10px;
            width:100px;
        }
    }
    .subnav ul{
        justify-content: space-between;
    }
    .subnav ul li:first-child{
        display:none;
    }
    .subnav ul li{
        margin: 0px 10px;
    }
    .small-type{
        font-size:14px;
    }
    #table-of-contents #toc-dots{
        display:block;
        a:not(.dot-container){
            width:100%;
        }   
        .dot-container{
            margin-right: 6px;
            display: inline-block;
            .dot-container-inner{
                position:static;
            }
        }
        .dot-container:hover .line{
            display:none;
        }
        .dot-container:hover .thumbnail-lockup, .dot-container.hover .thumbnail-lockup{
            visibility: hidden;
            opacity:0;
            pointer-events: none;
        }
        .dot-container:hover .dot-container-inner, .dot-container.hover .dot-container-inner{
            width:auto;
        }
        .chapter-title{
            margin:30px 0px 20px;
        }
        a > p.small-type{
            margin-top:30px;
            margin-bottom: 0px !important;
        }
        a:first-child .small-type, a:first-child .chapter-title{
            margin-top:0px;
        }
    }
    #table-of-contents .dates{
        display:none;
    }
    #info{
        .logo{display:none;}
        .people > div {
            width: 50%;
        }
        .people small {
            font-size: 11px;
        }
        h2, h3{
            margin-top:0px;
        }
    }
    .leftright > div{
        padding: 15px;
    }
    #hamburgerCallout{
        display:none;
    }
    .chapter-head{
        height: auto;
        padding: 100px 0px;
    }
    .chapter-head h1{
        font-size:20px;
        line-height:20px;
        padding: 10px 0px;
        margin-top: 0px;
    }
    .chapter-head h3{
        font-size:15px;
    }
    .lot {
        display: block;
        .right{width:100%;}
        .left{
            width: 100%;
            height:auto;
            position:static;
            img{
                position: static;
                width:100%;
                height:auto;
                object-fit: inherit;
                opacity: 1;
                filter: blur(0px);
                z-index: 1;
                display:block;
            }
        }
        .center-column {
            width: auto;
            padding: 15px;
            padding-bottom: 100px;
            margin-bottom: 0px;
            margin-top:0px;
        }
        .bookmark-container{
            height: 40px;
        }
        .bookmark-container .onhover {
            height: 38px;
            width: 38px;
        }
        .bookmark-container .fold-outline {
            height: 66px;
            width: 66px;
        }
        .at-a-glance .silhouette{
            display:none;
        }
        .mobile-thumb{
            width:60px;
            position:fixed;
            display:block;
            top:-100%;
            transition: top 500ms;
            img{width:60px;}
        }
        .right.active .center-column .mobile-thumb{
            top:calc(var(--toolbar-height) + 15px);
        }
        // .full-img{
        //     position:fixed;
        //     z-index:102;
        //     top:0px;
        //     left:0px;
        //     height:100vh;
        //     width:100vw;
        //     background:black;
        //     img{
        //         object-fit:contain;
        //     }
        // }
    }
    section.header_text.large, section.header_text.large-image {
        font-size: 70px;
    }
    .essay {
        padding: 100px 0px;
        .image {
            max-width: 940px;
            width: 100%;
            img{
                width:100%;
            }
        }
        .inner p{
            font-size: 19px;
            line-height: 1.45;
            letter-spacing: -0.01em;
        }
    }
    #end-content .inner{
        column-count:1;
    }
    #end-content .columns {
        column-gap: 20px;
    }
    .lot .left .slideshow{
        display:none;
    }
    .lot .notes-right{
        display:none;
    }
}

#url_to_copy{
    position:fixed;
    top:-100vh;
    left:-100vw;
    visibility: hidden;
}

.print-content{display:none;}

// PRINT STYLESHEET
@media print {

    @page {
        // size: letter landscape;   // TWO-UP
        size: 5.5in 8.5in;
        margin: 0in;
        orphans:4; 
        widows:2;
        margin: 0in; 
        // margin-bottom:0.5in;
        // margin-top:0.5in;
    }
    // @page :first {
    //     margin: 0in    /* Top margin on first page 10cm */
    // }
    // @page :left {
    //     margin-left: 1in;
    //     margin-right: 1in;
    // }

    // @page :right {
    //     margin-left: 1in;
    //     margin-right: 1in;
    // }

    :root{
        --main-width:100vw;
        --main-height:100vh;
    }

    body {
        overflow-x: hidden;
    }

    .print-content{display:block;}
    table.print-content{display:table;}

    .printFooter{
        position:sticky;
        bottom:0px;
        left:0px;
        width:calc(100vw - 40px);
        padding:20px;
        color:black;
        font-family:var(--sans-serif);
        font-weight: 400;
        font-size: 10pt;
        z-index:100;
        display:block;
    }

    // .header, .header-space,
    // .footer, .footer-space {
    //     height: 100px;
    // }
    // .header {
    //     position: fixed;
    //     top: 0;
    // }
    // .footer {
    //     // position: absolute;
    //     // bottom: 0;
    //     display: table-footer-group; 
    // }

    #printModal.visible, #topbar, nav, 
    #searchbar, .callout, #cookieBanner,
    .sidebar, .estimate button, .searchBtns,
    .subnav, .phantom-toc, #table-of-contents #toc-dots .dot-container,
    #cover .spine, .on-the-cover
    {display:none;}

    #cover .stripe{
        box-shadow: inset 0 0 0 1000px var(--catalogueColor);
    }

    .leftright{display:block;}

    .essay{
        padding: 30px 0px;

    }
    .essay .inner p {
        font-size: 14pt;
        line-height: 17pt;
    }
    .essay .image{
        font-size: 10pt;
        line-height: 13pt;
        padding: 15px;
        max-width: calc(100vw - 30px)
    }
    .essay img{max-width: calc(100vw - 30px)}

    #cover .left{width:100%;}
    #cover .right{
        width:calc(100% - 80px);
        height:auto;
        box-shadow: inset 0 0 0 1000px black;
    }
    #cover .right, #cover h2{position: static;}
    #cover .logo{width: 120px;}
    #cover h1 {
        font-family: var(--serif);
        font-size: 26px;
        line-height:30px;
    }

    section{break-before: page;}
    #table-of-contents, #table-of-contents #toc-dots{position:static;}
    #table-of-contents #toc-dots{justify-content: flex-start;}
    #table-of-contents #toc-dots .small-type{margin-top: 20px;}
    #table-of-contents .dates{display:none;}
    #table-of-contents #toc-dots a{color:black; background:white}
    .main-content {margin-left: 0px;}
    .lots{
        background:white;
    }
    .lot {
        display: block;
        // column-count: 2;   // TWO-UP
        .right{width:100%;}
        .left{
            width: 100%;
            break-before: page;
            position:static;
            img{
                position: static;
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 1;
                filter: blur(0px);
                z-index: 1;
                display:block;
            }
        }
        .center-column {
            width: auto;
            padding: 90px;
            padding-bottom: 100px;
            margin-bottom: 0px;
            margin-top:0px;
        }
        p{
            font-size: 10pt;
        }
        .estimate a, .estimate button {display:none}
        .at-a-glance p, .footnote p {
            font-size: 8pt;
            line-height: 1.4;
            max-width: 75%;
        }
        h2, .lot-number{
            font-size: 1.4rem;
        }
        .notes-left, .notes-right{
            width:50px;
        }
        .notes-left{right:auto;left:0px;}
        .notes-right{left:auto;right:0px;}
    }
    

}