---
---

@font-face {
  font-family: 'Jjannon';
  src: url(../fonts/JJannon-Book.otf);
  font-weight:400;
  font-style:normal;
}
@font-face {
  font-family: 'Jjannon';
  src: url(../fonts/JJannon-Book-Italic.otf);
  font-weight:400;
  font-style:italic;
}
@font-face {
  font-family: Jjannon Display;
  src: url(../fonts/JJannon-Display-Light.otf);
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family: Jjannon Display;
  src: url(../fonts/JJannon-Display-Light-Italic.otf);
  font-weight:300;
  font-style:italic;
}
// @font-face {
//   font-family: Jjannon Display;
//   src: url(../fonts/JJannon-Display-Regular.otf);
//   font-weight:400;
//   font-style:normal;
// }
// @font-face {
//   font-family: Jjannon Display;
//   src: url(../fonts/JJannon-Display-Regular-Italic.otf);
//   font-weight:400;
//   font-style:italic;
// }
@font-face {
  font-family: 'Acumin Pro';
  src: url(../fonts/AcuminPro-Bold.otf);
  font-weight:600;
}
@font-face {
  font-family: 'Acumin Pro';
  src: url(../fonts/AcuminPro-Semibold.otf);
  font-weight:500;
}
@font-face {
  font-family: 'Acumin Pro';
  src: url(../fonts/AcuminPro-Regular.ttf);
  font-weight:400;
}
// @font-face {
//   font-family: 'Acumin Pro';
//   src: url(../fonts/AcuminPro-Medium.ttf);
//   font-weight:500;
// }



:root{
    --sans-serif: 'Acumin Pro', Helvetica, sans-serif;
    --serif: 'Jjannon', Times New Roman, serif;
    --toolbar-height: 37px;
    --swann-blue: #0090f7;
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background:var(--bg);
    color:white;
    margin:0px;
}

a{
    text-decoration: none;
    color:white;
}

ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
}

button{
    padding:0px;
    background:transparent;
    outline:none;
    border:none;
    border-radius:0px;
    color:inherit;
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    cursor:pointer;
}

#logo{
    height:100%;
    position:absolute;
    transform:translate(calc(-100% + var(--toolbar-height)))
}

